@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    width: 100vw;
    height: 100vh;
    background-color: #eafdfc;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    /* Contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    overflow: hidden;
}

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px ;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
}